/* Highlighting elements */

body {
	background-color: lightgray;
}
div {
	border: 1px solid chocolate;
}

/*	Box Sizing */

html {
	box-sizing: border-box;
	-webkit-font-smooting: antialiased;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* Navigation Section */

.top-navigation	{
	background-color: #fff;
}
.top-navigation > .content	{
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;
}
/* ? RICH - Would I use a selector (li, as I do here) or assign li a class in the index.html??? */
.top-navigation .links li {
	display: inline-block;
	margin-left: 1.563rem;
}

/* :hover */
.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
