/* Highlighting elements */
body {
	background-color: lightgray;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smooting: antialiased;
}
div {
	border: 1px solid chocolate;
}
*, *:before, *:after {
	box-sizing: inherit;
}
html {
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
.content {
	margin: 0 auto;
	width: 970px;
	padding: 0px 15px;
	box-sizing: border-box;
}
/* Navigation Section */
.top-navigation	{
	background-color: #fff;
	position: fixed;
	width: 100%;
}
/* Lesson plan wanted me to do something here but they were vague and indiscript */
.top-navigation > .content	{
	height: 70px;

}
.logo {
	height: 70px;
}
.top-navigation .links {
	float: right;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;

}
/* ? RICH - What is conventionaly correct? 
	 Use a selector (li, as I do here) or assign li a class in the index.html??? */
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
/* :hover */
.top-navigation .links li:hover {
	color: #333333;
	cursor: pointer;
}
.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}
/* Introduction */
.introduction	{
	/* Trying to move image up. Unable to find the 'height of under 600px' they refer to in cropping image */
	background-image: url(../images/first-background.jpg);
	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
    margin: 0;
}
.introduction h1,
.introduction h3 {
	color: #ffffff;
	text-align: center;
	font-weight: 300;
}
.introduction h1 {
	margin-top: 275px;
	/* The ex page does not use margin-bottom to 0 out the bottom marg */
	margin-bottom: 0;
	font-size: 50px
}
.introduction h3 {
	margin-top: 15px;
	/* The ex page does not use margin-bottom to 0 out the bottom marg */
	margin-bottom: 0;
	font-size: 25px;
}
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 150px;
	background-color: #f15a29;
	border-color: #f15a29;
	color: white;
	font-size: 18px;
	display: block;
	margin: 15px auto 15px auto;
}
button:hover {
	background-color: #d9400e;
	border-color: #d9400e;
	cursor: pointer;
}
.cases	{
	color: black;
	text-align: center;
	font-weight: 300;
	font-size: 25px;
}
.cases .content	{
	margin-top: 200px;
}
.cases .devices	{
	/* lesson said to make wdth 33.3% but then they strech to two rows */
	width: 25%;
	display: inline-block;
	/*	styles to assist with debugging */
	border: 1px
	box-sizing: border-box;
	height: 5em;
}